<div id="{{ library.id }}-container">

    <!-- Accordion for Show Settings -->
    <div class="accordion" id="{{ library.id }}-accordion">
        <!-- Show Collections -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#{{ library.id }}-collections">
                    Collections
                </button>
            </h2>
            <div id="{{ library.id }}-collections" class="accordion-collapse collapse">
                <div class="accordion-body">
                    {% include "partials/_show_collections.html" %}
                </div>
            </div>
        </div>

        <!-- Show Overlays -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#{{ library.id }}-overlays">
                    Overlays
                </button>
            </h2>
            <div id="{{ library.id }}-overlays" class="accordion-collapse collapse">
                <div class="accordion-body">
                    {% include "partials/_show_overlays.html" %}
                </div>
            </div>
        </div>

        <!-- Show Attributes -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#{{ library.id }}-attributes">
                    Attributes
                </button>
            </h2>
            <div id="{{ library.id }}-attributes" class="accordion-collapse collapse">
                <div class="accordion-body">
                    {% include "partials/_show_attributes.html" %}
                </div>
            </div>
        </div>

        <!-- Show Playlists -->
        {% include "partials/_library_playlists.html" %}
    </div>
</div>
